@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Patrick Hand', cursive;
    margin-top: 20px;
}

.container .detail, .contact-list {
    width: 500px;
    height: 850px;
    padding: 30px;
}

/* Contact List */
.container .contact-list {
    background-color: #E8E1D3;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.container .contact-list .search .data {
    height: 680px;
    width: 100%;
    display: inline-block;
    border: 5px solid #D1711F;
    margin-top: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0px;
}

.container .contact-list .search .data .data1Orang {
    width: 99%;
    height: 80px;
    border: 3px solid #E09453;
    display: flex;
    align-items: center;
    padding: 5px;
    margin-left: -3px;
    margin-top: -3px;
}

.container .contact-list .search .data .data1Orang img {
    width: 70px;
    height: 70px;
    padding: 5px;
}

.container .contact-list .search .data .data1Orang .data-ringkasan {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    font-size: 30px;
    padding: 10px;
}

.container .contact-list .search .data .data1Orang .data-ringkasan .noHp {
    margin-top: -30px;
}

/* Scroll bar */
::-webkit-scrollbar {
    width: 0px;
}
/* End of scrollbar */

/* Search */
.container .contact-list .search input {
    width: 85%;
    height: 30px;
    float: left;
    border-radius: 5px;
    outline: none;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 5px solid #D1711F;
}

.container .contact-list .search .search-button {
    float: right;
    font-size: 30px;
    color: #D1711F;
}

.container .contact-list .search .search-button:hover{
    transition: .5s;
    opacity: .5;
}
/* Enf of search */

/* Add contact */
.container .contact-list .add-contact {
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

.container .contact-list .add-contact a {
    text-decoration: none;
    color: #216974;
}

.container .contact-list .add-contact a:focus {
    transition: .5s;
    opacity: .5;
}
/* End of add contact */
/* End of Contact List */


/* Detail contact */
.container .detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #216974;
    color: whitesmoke;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.container .detail h1 {
    font-size: 50px;
}

.container .detail h2 {
    margin-top: 5px;
    font-size: 40px;
}