<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<h1>This Is Income</h1>
<form action="" style="display: flex; justify-content: space-around; align-items: center; font-size: 25px;">
    <input type="hidden" value="income">
    <input type="text" placeholder="Title" style="width: 300px; height: 25px; border: none;">
    <input type="text" placeholder="$0" style="width: 300px; height: 25px; border: none;">
    <button type="submit" style="border: none;"><i class="fas fa-plus-square" style="font-size: 30px;"></i></button>
</form>