<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="<%- src %> ">
</head>
<body>
    <div class="container">
        <div class="general-info">
            <div class="balance">
                <h3>Balance</h3>
                <h1 class="total-money">$1000</h1>
            </div>
            <div class="spesific">
                <span class="income">
                    <h4>Income</h4>
                    <h3>$0</h3>
                </span>
                <span class="graph"></span>
                <span class="outcome">
                    <h4>Outcome</h4>
                    <h3>$0</h3>
                </span>
            </div>
        </div>
    </div>
</body>
</html>