<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="<%- src %> ">
</head>
<body>
    <div class="container">
        <div class="general-info">
            <div class="balance">
                <h3>Balance</h3>
                <h1 class="total-money">$1000</h1>
            </div>
            <div class="spesific">
                <span class="income">
                    <h3>Income</h3>
                    <h2>$0</h2>
                </span>
                <span class="graph">
                    <canvas id="myChart" width="200" height="200"></canvas> 
                </span>
                <span class="outcome">
                    <h3>Outcome</h3>
                    <h2 style="color: #D90404;">$0</h2>
                </span>
            </div>
        </div>

        <div class="dash-board">
            <h1>Dashboard</h1>
            <hr>
            <a href="/expenses">Expenses</a>
            <a href="/income">Income</a>
            <a href="/all">All</a>
            <hr>
            <div class="list">
                <div class="data">
                    
                </div>
                <%- include(link) %> 
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        datasets: [{
            label: 'Income VS Outcome',
            data: [200,100], 
            backgroundColor: [
                '#D90404',
                '#F2F2F2'
            ]           
        }]
    },
});
</script>
</html>