<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact List</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <div class="container">
         <div class="detail">
            <img src="img/coin-back.png" class="img-contact" style="width: 300px; height: 300px;">
            <h1 class="nama">Charles Langko</h1>
            <h2 class="noTlp">081337608745</h2>
         </div>
         <div class="contact-list">
            <div class="search">
                <input type="text" class="search" placeholder="Search...">
                <span class="search-button"><i class="fas fa-search"></i></span>
            </div>
         </div>
    </div>
</body>
</html>